[submodule "Engine"]
	path = Engine
	url = git@github.com:yulinxx/Engine.git
[submodule "Render"]
	path = Render
	url = git@github.com:yulinxx/Render.git
[submodule "Utility"]
	path = Utility
	url = git@github.com:yulinxx/Core.git
[submodule "Engraving"]
	path = Engraving
	url = git@github.com:yulinxx/Engraving.git
[submodule "FileIO"]
	path = FileIO
	url = git@github.com:yulinxx/FileIO.git
[submodule "GeoModelCore"]
	path = GeoModelCore
	url = git@github.com:yulinxx/GeoModelCore.git
[submodule "Hardware"]
	path = Hardware
	url = git@github.com:yulinxx/Hardware.git
[submodule "Log"]
	path = Log
	url = git@github.com:yulinxx/Log.git
[submodule "Nesting"]
	path = Nesting
	url = git@github.com:yulinxx/Nesting.git
[submodule "Network"]
	path = Network
	url = git@github.com:yulinxx/Network.git
[submodule "ThirdParty"]
	path = ThirdParty
	url = git@github.com:yulinxx/ThirdParty.git
[submodule "UI"]
	path = UI
	url = git@github.com:yulinxx/UI.git
[submodule "Vision"]
	path = Vision
	url = git@github.com:yulinxx/Vision.git
[submodule "CrashHandler"]
	path = CrashHandler
	url = git@github.com:yulinxx/CrashHandler.git
